<!DOCTYPE html>
<html lang="en">
  <head><title>TinyApp-Index</title>
    <style>
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
a:link {
    color: #008CBA;
    }
body {
    margin-left:50px;
    margin-right:50px
  }
</style>
  <body>
    <h2>Tiny App - Register</h2>
      <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Email</label><br/>
      <input id="email" type="email" name="email" placeholder="Enter an email" style="width: 300px"> <br/>
       <label for="password">Password</label><br/>
      <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 300px"><br/>
      <input type = "submit" value="Register" class="button" align="center">
    </form>
  </body>
</html>