<!DOCTYPE html>
<html lang="en">
  <title>TinyApp-Login</title>
<style>
  .button {
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }
  a:link {
      color: #008CBA;
  }
  body {
      margin-left:50px;
      margin-right:50px
  }
</style>
<body>
  <h2>Welcome to Tiny app</h2>
  <p>Register to become a member of the Tiny App family!  <a href = '/register'>Register</a>
      <form action="/login" method="POST" style="margin:150px;">
        <label for="email">Email</label><br/>
        <input id="email" type="email" name="email" placeholder="Enter an email" style="width: 300px"> <br/>
        <label for="password">Password</label><br/>
        <input id="password" type="password" name="password" placeholder="Enter a password" style="width: 300px"><br/>
        <input type = "submit" value="Login" align="center" class="button">
      </form>
</body>
</html>