<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div class="container">
        <%- include('partials/_header') %>

  <ul>

    The long URL and its shortened form

</ul>
</div>
</body>
</html>